img {
    width: 30%;
    length: 15%;
    display: flex;
}
html {
    margin: 0;
}
header {
    background-color: #6b3245;
    margin: 0;
    display: flex;
    padding-bottom: 10px;
}
.hheader {
    display: flex;
    text-align: center;
    align-self: center;
    color: #ee6a6d;
}
body {
    background-color: #ee6a6d;
    margin-left: 0px;
    padding: 0;
    margin: 0;
}

h1 {
    /*margin:10px;*/
    color: #ee6a6d;
    font-size: 40px;
}
#main {
    margin: 15px;
    align-items: center;

}
#box {
    margin: 0;
    background-color: #f3a3ab;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
    grid-template-rows: auto; /* Let rows adjust dynamically */
    gap: 10px; /* Space between items */
}

.box {
    margin: 0; /* Remove extra margins */
    padding: 10px; /* Add padding instead */
    /*background-color: white; /* Optional: for visibility */*/
    border-radius: 10px; /* Optional: for a cleaner look */
}

h3 {
    font-size: 3rem;
}
label {
    font-size: 2rem;
}
input {
    width: 30px;
    height: 30px;
}
h1 {
    font-size: 70px;


}
button{
    width:100%;
    height: 40px;
    font-size: 20px;
    align-self: center;
    
}
